  .font-scrapbook {
    font-family: 'Patrick Hand', cursive;
  }
  
  /* #chemist-section {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
} */

/* Left slide */
.slide-left {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}

/* Right slide */
.slide-right {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}

